  <div style="font-family: 'Kranky'; text-align:center;">
    <mat-form-field appearance="outline">
      <input class="input" (keyup.enter)="onAdd()" type="text" matInput placeholder="Add Item..." [(ngModel)]="task.name" />
    </mat-form-field>
    <!-- SUBMIT button-->
    <button class="button" type="submit" (click)="onAdd()">
      <mat-icon matSuffix>add_circle_outline</mat-icon>
    </button>
  </div>
  
  <!--display item on the UI-->
  <p *ngFor="let task of tasks; let i = index">
    <!--Apply 'strike' class base off of boolean value-->
    <span class="item" (click)="onStrike(i)" [ngClass]="{'strike': task.strike}">{{ i+1 }}. {{ task.name }}</span>
    <!-- EDIT button-->
    <button class="button" type="submit" (click)="onEdit(task)">
      <mat-icon matSuffix>edit</mat-icon>
    </button>
    <!--DELETE button-->
    <button class="button" type="submit" (click)="onDelete(i)">
      <mat-icon matSuffix>remove_circle</mat-icon>
    </button>
  </p>
  <br />
  <!--DELETE ALL button-->
  <button mat-stroked-button class="deleteAllButton" (click)="deleteAll()">Delete All</button>





