.input {
  padding: 9px;
  font-size: 21px;
}

p {
  font-size: 25px;
}

.item {
   cursor: pointer;
}

.strike{
  text-decoration: line-through;
}
 
.button {
  outline: none;
  border: none;
  margin-left: 8px;
  cursor: pointer;
}

.deleteAllButton {
  font-family: 'Kranky';
  outline-style: none;
  border-radius: 50px;
  margin-right: 24px;
  color: black;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.deleteAllButton:hover {
  background-color: rgb(236, 235, 235);
}

*:focus {
    outline: 0 !important;
}
